

 /* Author   : QIKAT
*/





root {
	

	display: block;	

	
	
}




form label 

{
	display: inline-block;

	width: 225px;
	
	font-weight: bold;



}

form input
 
{
   
	font-family: georgia;
	   color: #6600ff;
   
    
    
    
}

form type 

{

   
   
 
}

